Repository Letto228/Angular-learnjs-130624: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint, npx stylelint

chore: add commitlint plugin
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: npx prettier --write, npx eslint

chore: add commitizen plugin
  .cz-config.js
  package-lock.json
  package.json
Due: npx prettier --write, npx eslint

chore: add google eslint style guide
  .eslintrc.json
  package-lock.json
  package.json
Due: none

chore: change prettier config
  .prettierrc.json
Due: none

Добавил стайлгайд airbnb/ изменил конфиг претира
  .eslintrc.json
  .prettierrc.json
Due: none

add prettier config
  .prettierrc.json
Due: none

feat: add product-card
  angular.json
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npx prettier --write, npx eslint, npx stylelint

feature: 2 lesson
  angular.json
  src/app/app.component.html
  src/app/pages/products-list/card/README.md
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npx prettier --write, npx eslint, npx stylelint

feat: Add Product card component
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npx prettier --write, npx eslint, npx stylelint

fix: add price for products; remove unusual ProductListModule;
  src/app/app.module.ts
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npx prettier --write, npx eslint, npx stylelint

Добавление карточки товара
  src/app/app.component.html
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/card/tablet/tablet.component.css
  src/app/pages/products-list/card/tablet/tablet.component.html
  src/app/pages/products-list/card/tablet/tablet.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npx prettier --write, npx eslint, npx stylelint

fix: add stopPropagation in click on button; change classes
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.css
Due: npx prettier --write, npx eslint, npx stylelint

Исправления по код ревью
  .eslintrc.json
  package-lock.json
  package.json
Due: none

Создана карточка товара
  angular.json
  src/app/pages/products-list/card/README.md
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npx prettier --write, npx eslint, npx stylelint

Исправления по код ревью
  src/app/pages/products-list/card/tablet/tablet.component.html
  src/app/pages/products-list/card/tablet/tablet.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npx prettier --write, npx eslint

feat: Add property binding for card component to fetch product data from the parent. Add event binding to notify products-list about user purchases.
  src/app/components/sidenav/sidenav.component.css
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.ts
  src/app/components/sidenav/sidenav.module.ts
  src/app/pages/products-list/card-mini/card-mini.component.ts
  src/app/pages/products-list/card-mini/card-mini.module.ts
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/products/products.service.ts
Due: npx prettier --write, npx eslint, npx stylelint

Рефакторинг по замечаниям ревью. Оставил один источник данных, добавил геттеры.
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
Due: npx prettier --write, npx eslint

ДЗ4
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.module.ts
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/const.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx prettier --write, npx eslint

feat: add @Input() @Output()
  .eslintrc.js
  angular.json
  src/app/app.component.css
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.ts
  src/app/components/sidenav/sidenav.component.css
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/components/sidenav/sidenav.module.ts
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/shared/application-config/application-config.interface.ts
  src/app/shared/application-config/application-config.mock.ts
Due: npx prettier --write, npx eslint, npx stylelint

feat: add card component
  angular.json
  package-lock.json
  package.json
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/index.html
  src/styles.css
Due: npx prettier --write, npx eslint, npx stylelint

Корекрировки по замечаниям ревью
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.ts
Due: npx prettier --write, npx eslint

feat: homework5: add popup modal window
  src/app/app.component.html
  src/app/app.module.ts
  src/app/components/popup-host/popup-host.component.css
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.spec.ts
  src/app/components/popup-host/popup-host.component.ts
Due: npx prettier --write, npx eslint, npx stylelint

fix: fixing
  .eslintrc.js
  src/app/pages/products-list/card/card.component.ts
Due: npx prettier --write, npx eslint

feat: add popup-host
  src/app/app.component.html
  src/app/app.module.ts
  src/app/components/popup-host/popup-host.component.css
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.spec.ts
  src/app/components/popup-host/popup-host.component.ts
  src/app/components/popup-host/popup-host.module.ts
Due: npx prettier --write, npx eslint, npx stylelint

ДЗ_5
  src/app/app.component.css
  src/app/app.component.html
  src/app/app.module.ts
  src/app/pages/products-list/popup-host/popup-host.component.css
  src/app/pages/products-list/popup-host/popup-host.component.html
  src/app/pages/products-list/popup-host/popup-host.component.ts
  src/app/pages/products-list/popup-host/popup-host.module.ts
Due: npx prettier --write, npx eslint, npx stylelint

feat: Add directive ScrollWithLoading for infinty scrolling with uploading
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/load-direction.enum.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.spec.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.module.ts
Due: npx prettier --write, npx eslint

ДЗ_6
  .prettierrc.js
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.module.ts
Due: npx prettier --write, npx eslint

ДЗ_5 after review
  src/app/app.component.html
  src/app/pages/products-list/popup-host/popup-host.component.html
  src/app/pages/products-list/popup-host/popup-host.component.ts
Due: npx prettier --write, npx eslint

ДЗ_6 корректировки по замечаниям ревью
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.ts
Due: npx prettier --write, npx eslint

ДЗ_8 productsFilter
  .prettierrc.js
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/products-filter/products-filter.module.ts
  src/app/shared/products-filter/products-filter.pipe.ts
Due: npx prettier --write, npx eslint

ДЗ_8 filterByProperty
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/filter-by-property/filter-by-property.module.ts
  src/app/shared/filter-by-property/filter-by-property.pipe.ts
Due: npx prettier --write, npx eslint

feat: add scroll
  angular.json
  src/app/app.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/scroll/scroll.directive.spec.ts
  src/app/shared/scroll/scroll.directive.ts
  src/app/shared/scroll/scroll.interface.ts
  src/app/shared/scroll/scroll.module.ts
Due: npx prettier --write, npx eslint

fix: fixing
  angular.json
  src/app/app.component.html
  src/app/components/popup-host/popup-host.component.css
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.ts
Due: npx prettier --write, npx eslint, npx stylelint

присвоил явные значения для enum
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.ts
Due: npx prettier --write, npx eslint

feat: Add name filter pipe
  src/app/app.module.ts
  src/app/shared/name-filter.pipe.spec.ts
  src/app/shared/name-filter.pipe.ts
Due: npx prettier --write, npx eslint

feat: Add productsFilter pipe and filterByCategory pipe
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/filter-panel/filter-panel.component.css
  src/app/components/filter-panel/filter-panel.component.html
  src/app/components/filter-panel/filter-panel.component.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.ts
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/filter-by-property/filter-by-property.module.ts
  src/app/shared/filter-by-property/filter-by-property.pipe.ts
  src/app/shared/name-filter.pipe.spec.ts
  src/app/shared/name-filter.pipe.ts
  src/app/shared/products-filter/products-filter.module.ts
  src/app/shared/products-filter/products-filter.pipe.ts
Due: npx prettier --write, npx eslint, npx stylelint

chore: sanitize project
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/pages/product/product.component.html
  src/app/pages/product/product.component.ts
  src/app/pages/product/type/type.component.ts
  src/app/pages/products-list/products-list.component.html
Due: npx prettier --write, npx eslint

feat: add homework stand
  src/app/app.component.html
  src/app/components/sidenav/categories-select/categories-select.component.html
  src/app/components/sidenav/categories-select/categories-select.component.less
  src/app/components/sidenav/categories-select/categories-select.component.spec.ts
  src/app/components/sidenav/categories-select/categories-select.component.ts
  src/app/components/sidenav/categories-select/categories-select.module.ts
  src/app/components/sidenav/sidenav.component.css
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.ts
  src/app/components/sidenav/sidenav.module.ts
  src/app/shared/categories/categories-api.service.spec.ts
  src/app/shared/categories/categories-api.service.ts
  src/app/shared/categories/categories-store.service.spec.ts
  src/app/shared/categories/categories-store.service.ts
  src/app/shared/categories/category.interface.ts
  src/app/shared/categories/sub-category.interface.ts
  src/app/shared/params/get-params-from-object.ts
  src/app/shared/products/products-api.service.ts
  src/app/shared/products/products-store.service.ts
Due: npx prettier --write, npx eslint, npx stylelint

feat: add categories navigation
  src/app/app-routing.module.ts
  src/app/components/sidenav/categories-select/categories-select.component.html
  src/app/components/sidenav/categories-select/categories-select.module.ts
  src/app/pages/products-list/products-list.component.ts
Due: npx prettier --write, npx eslint

feat: add products list url matcher
  src/app/app-routing.module.ts
  src/app/pages/products-list/products-list-url-matcher.ts
Due: npx prettier --write, npx eslint

Path conditions:
  npx prettier --write: ((any of: *.{ts,js}) or (any of: *.html)) or (any of: *.css)
  npx eslint: (any of: *.{ts,js}) or (any of: *.html)
  npx stylelint: any of: *.css
